* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s ease;
  scrollbar-width: thin;
  scrollbar-color: var(--yellow) transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --yellow: #ffd243;
  --blue: #2d3142;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--blue);
  overflow-x: hidden;
  height: 2000px; /* Erase */
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 210, 67, 0.9);
  border-radius: 10px;
  border: none;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a.btn {
  display: inline-block;
  background: var(--yellow);
  font-weight: 600;
  color: #fff;
  padding: 15px 35px;
  border-radius: 15px;
  min-width: 200px;
  text-align: center;
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
}

img {
  display: block;
  max-width: 100%;
}

h1.title {
  font-family: "Poppins", sans-serif;
  max-width: 700px;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 30px;
}

@media only screen and (max-width: 700px) {
  h1.title {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 450px) {
  h1.title {
    font-size: 2.25rem;
  }
}

.container {
  display: grid;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
